@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root{
    --main: #023015;
    --main-light: #86A086;
    --white: #ffffff;
    --main-light: #b6cfb6;
    --emergency: #FFCC00;
}


/* Website Version */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    background-color: var(--main);

}

body {
    width: 100%;
}

h1 {
    font-size: 4rem;
    text-align: center;
    color: var(--emergency);
}

h2 {
    font-size: 4rem;
    text-align: center;
}

h3 {
    font-size: 4rem;
    text-align: center;
}

h4 {
    font-size: 2rem;
    text-align: center;
}

p {
    font-size: 1.2rem;
}

hr {
    opacity: 50%;
}

label {
    color: var(--main);
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
    padding-inline: 10%;
    padding-block: 5rem;

    font-family: "DM Sans", sans-serif;
    color: var(--white);

    min-height: 100vh;

    background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0.308), var(--main-transparent) , var(--main) 90%), url(./images/julian-hero-bg-img.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

.main-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
}

img {
    object-fit: cover;
    object-position: center;
    max-height: 500px;
    max-width: 250px;
    margin-block: 2rem;
}

#backButton {
    background-color: var(--white);
    border: 1px solid var(--white);
    border-radius: 0.5rem;
    width: 50%;
    height: 3rem;

    text-wrap: pretty;
    color: var(--main);
    font-size: 1.5rem;

    transition: all 0.25s;
}

#backButton:hover {
    background-color: var(--main);
    border: 1px solid var(--white);
   
    color: var(--white);
    
    transform: scale(1.1);
    transition: all 0.25s;
}

#backButton a{
    text-decoration: none;
    color: var(--main);
}

#backButton:hover a{
    color: var(--white);
}