@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root{
    --main: #023015;
    --main-light: #86A086;
    --white: #ffffff;
    --main-light: #b6cfb6;
    --emergency: #FFCC00;

    --card-height: 650px;
    --card-height-mobile: 900px;
    --card-title-height: 150px;
    --font-weight: 600;
}


/* Website Version */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--main);
    position: static;
    width: 100%;
}

section {
    padding-inline: 10%;
    font-family: "DM Sans", sans-serif;
    color: var(--white);
}

h2 {
    font-weight: var(--font-weight);
    font-size: 4rem;
    text-align: center;
}

h3 {
    font-weight: var(--font-weight);
    font-size: 2.5rem;
    text-align: center;
}

h4 {
    font-weight: var(--font-weight);
    font-size: 2rem;
    text-align: center;
}

ul {
    list-style: none;
}

p {
    font-weight: normal;
    font-size: 1rem;
}

a {
    font-weight: var(--font-weight);
    text-decoration: none;
    font-size: 1rem;
}

hr {
    opacity: 10%;
    margin-block: 2rem;
}

label {
    color: var(--main);
}

/* RETURN TO TOP SECTION  */

.return-to-top-section .button-container {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 999;

    background-color: var(--main);
    border-radius: 50%;
    border: solid 2px var(--white);
    height: 4.5rem;
    width: 4.5rem;
    margin: 2rem;
    padding: 0.5rem;
}

.return-to-top-section .button-container a {
    height: 100%;
    width: 100%;
}

.return-to-top-section .button-container img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center;
}

/* HERO SECTION */
.hero-section {
    position: static;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 100%;
    height: 100%;
    min-height: 100vh;
    padding: 0;
    padding-bottom: 5rem;

    background-image: var(--main);
}

.hero-section .header  {
    position: relative;
    top: 0;
    left: 0; 
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    padding-inline: 10%;

    gap: 1rem;
    z-index: 999;

    transition: all 0.5s ease-in-out;
}

.hero-section .header:hover  {
    background-color: var(--main);

    transition: all 0.2s ease-in-out;
}

.hero-section .header .logo img{
    height: 10rem;
}

.hero-section .header .navigation-links {
    position: static;
    list-style: none; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}

.hero-section .header .navigation-links > li{
    transition: all 0.2s;
    padding: 1rem 2rem;
}

.hero-section .header .navigation-links > li:hover {
    transform: scale(1.1);
    transition: all 0.2s;
}

#services-dropdown .dropdown-menu{
    display: none;
    position: absolute;
    left: 0;
    text-align: center;
    
    background-color: var(--main);
    border-radius: 0px 0px 5px 5px;
    padding: 1rem;
    width: 100%;
    list-style: none;
}

#services-dropdown:hover .dropdown-menu{
    display: block;
}

#services-dropdown .dropdown-menu li{
    margin-top: 1rem;
}

.dropdown-menu li:hover a {
    color: var(--emergency);
}

.hero-section .header-2 .header-img {
    height: 10rem;
}

.hero-section .header-2  {
    position: static;
    display: none;

    align-items: center;
    justify-content: center;

    width: 100%;
    background-color: var(--main);
}

.hero-section .header-2 .burger-menu-button {
    position: absolute;
    top: 0;
    right: 0;

    width: 5rem;
    height: 5rem;
    background-color: var(--main);
    border: none;
    margin: 2rem;
}

.hero-section .header-2 .burger-menu-button img{
    width: 3rem;
    height: 3rem;
}

.hero-section .header-2 .burger-menu-popout {
    display: none;
    position: fixed;
    right: 0;
    top: 0;

    width: 100%;
    height: 100%;
    padding: 1rem;
    background-color: rgb(0,0,0,0.75);
    backdrop-filter: blur(0.5rem);

    z-index: 99;
}

.hero-section .header-2 .burger-menu-popout .close-menu-button {
    width: 3rem;
    height: 3rem;
    background-color: transparent;
    border: none;
}

.hero-section .header-2 .burger-menu-popout .close-menu-button img {
    width: 100%;
    height: 100%;
}

.hero-section .header-2 .burger-menu-popout .navigation-links {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    position: fixed;
    right: 0;
    top: 0;

    width: 12rem;
    height: 100%;
    padding: 1rem 3rem;
    background-color: var(--main);

    z-index: 999;
}

.hero-section .header-2 .burger-menu-popout .navigation-links .services-dropdown-menu .dropdown-menu {
    display: none;
    flex-direction: column;
    gap: 1rem;
    padding-left: 1rem;
}

.hero-section .header-2 .burger-menu-popout .navigation-links .services-dropdown-menu .dropdown-menu li a {
    font-size: 0.9rem;
}

.hero-section .header-2 .burger-menu-popout .navigation-links .services-dropdown-menu:hover .dropdown-menu {
    display: flex;
}

.hero-section a {
    color: var(--white);
}

.hero-section .emergency{
    color: var(--emergency);
    text-decoration: none;
}

.hero-section .hero-content {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;

    text-align: center;
}
