@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root{
    /* --main: #023015; */
    --main: #1d641d;
    --main-light: #86A086;
    --white: #ffffff;
    --main-light: #b6cfb6;
    --emergency: #FFCC00;
    --black: black;

    --card-height: 650px;
    --card-height-mobile: 900px;
    --card-title-height: 150px;
    --font-weight: 600;
}

/* Basic Styles */
/* Text Colors */
.white-text {
    color: var(--white);
}

.green-text {
    color: var(--main);
}

/* Effects */
.transparent {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.25);
}

.text-shadow {
    text-shadow: 0px 0px 10px black;
}

/* Website Version */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--black);
}

section {
    padding-inline: 10%;
    font-family: "DM Sans", sans-serif;
}

h2 {
    font-weight: var(--font-weight);
    font-size: 4rem;
    text-align: center;
}

h3 {
    font-weight: var(--font-weight);
    font-size: 2.5rem;
    text-align: center;
}

h4 {
    font-weight: var(--font-weight);
    font-size: 2rem;
    text-align: center;
}

h5 {
    font-weight: normal;
    font-size: 1.5rem;
    text-align: center;
}

ul {
    list-style: none;
}

p {
    font-weight: normal;
    font-size: 1rem;
}

a {
    font-weight: var(--font-weight);
    text-decoration: none;
    font-size: 1rem;
    color: var(--white);
}

hr {
    opacity: 10%;
    margin-block: 2rem;
}

label {
    color: var(--main);
}

/* RETURN TO TOP SECTION  */
.return-to-top-section .button-container {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 9999;

    background-color: var(--main);
    border-radius: 50%;
    border: solid 2px var(--white);
    height: 4.5rem;
    width: 4.5rem;
    margin: 2rem;
    padding: 0.5rem;
}

.return-to-top-section .button-container a {
    height: 100%;
    width: 100%;
}

.return-to-top-section .button-container img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center;
}

/* HERO SECTION */
.hero-section {
    position: static;
    display: flex;
    flex-direction: column;
    padding: 0;
    z-index: 0;
    overflow: hidden;
}

.hero-service-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 5rem;
    row-gap: 5rem;
    justify-content: center;
    align-items: center;

    margin-top: 5rem;
    padding-inline: 10%;
}

.hero-section .pageBreak {
    position: absolute;
    bottom: 0;
    margin-top: 2rem;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 50%);
    z-index: 0;
}

/* LANDSCAPE HERO */

.landscape-hero {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.45) 45%, rgba(0, 0, 0, 0.45)), url(./images/landscape-service-img-1.jpg);
    background-position: top;
    background-size: cover;
    background-position: top;
}

.landscape-hero .main-text{
    margin-top: 5rem;
}

.landscape-hero .pageBreak {
    position: static;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, var(--main) 50%);
    margin-bottom: -18rem;
}

/* HARDSCAPE HERO */

.hardscape-hero {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.45) 45%, rgba(0, 0, 0, 0.45)), url(./images/hardscape-service-img-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -100rem;
}

.hardscape-hero .main-text{
    margin-top: 5rem;
}

.hardscape-hero .pageBreak {
    position: static;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, var(--main) 50%);
    margin-bottom: -18rem;
}

/* CARETAKING HERO */

.caretaking-hero {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.45) 45%, rgba(0, 0, 0, 0.45)), url(./images/caretaking-service-img-2.jpg);
    background-position: top;
    background-size: cover;
    background-position: top;
}

.caretaking-hero .main-text{
    margin-top: 5rem;
}

.caretaking-hero .pageBreak {
    position: static;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, var(--main) 50%);
    margin-bottom: -18rem;
}

/* TREE CARE HERO */

.tree-care-hero {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.45) 45%, rgba(0, 0, 0, 0.45)), url(./images/tree-care-service-img-1.png);
    background-position: top;
    background-size: cover;
    background-position: top;

    overflow: hidden;
}

.tree-care-hero .main-text{
    margin-top: 5rem;
}

.tree-care-hero .pageBreak {
    position: static;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, var(--main) 50%);
    margin-bottom: -18rem;
}

.tree-care-hero .hero-service-buttons {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 5rem;
    row-gap: 5rem;
    justify-content: center;
    align-items: center;

    margin-top: 5rem;
    padding-inline: 10%;
}

.contact-us-section {
    background-color: var(--main);
}

/* ABOUT US HERO */

.about-us-hero {
    justify-content: none;
    align-items: center;

    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.45) 45%, rgba(0, 0, 0, 0.45)), url(./images/home-about-us-img.png);
    background-position: top;
    background-size: cover;
    background-position: top;

    padding-bottom: 2rem;
    overflow: hidden;
}

.about-us-hero .main-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    text-align: center;

    max-width: 50%;
    height: 100%;
}

.about-us-hero .main-text .heading-text {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;
}

.about-us-hero .pageBreak {
    position: static;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, var(--main) 50%);
    margin-bottom: -20rem;
}

/* HEADER */

.header  {
    position: static;
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    padding-inline: 10%;

    gap: 1rem;
    z-index: 999;

    transition: all 0.5s ease-in-out;
}

.header:hover  {
    background: var(--main);

    transition: all 0.2s ease-in-out;
}

.header .logo img{
    height: 10rem;
}

.header .navigation-links {
    position: static;
    list-style: none; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .navigation-links > li{
    transition: all 0.2s;
    padding: 1rem 2rem;
}

.header .navigation-links > li:hover {
    transform: scale(1.1);
    transition: all 0.2s;
}

#services-dropdown .dropdown-menu{
    display: none;
    position: absolute;
    left: 0;
    text-align: center;
    
    background-color: var(--main);
    border-radius: 0px 0px 1rem 1rem;
    padding: 1rem;
    width: 100%;
    list-style: none;
}

#services-dropdown:hover .dropdown-menu{
    display: block;
}

#services-dropdown .dropdown-menu li{
    margin-top: 1rem;
}

.dropdown-menu li a {
    color: var(--white);
}

.dropdown-menu li:hover a {
    color: var(--emergency);
}

.navlink-button {
    border-radius: 0.5rem;
    background-color: var(--white);
    padding: 1rem 2rem;
    
    color: var(--main);
    text-shadow: none;
    text-align: center;

    transition: all 0.25s;
}

.header-img {
    height: 10rem;
}

.hero-section .header-2  {
    position: static;
    display: none;

    align-items: center;
    justify-content: center;

    width: 100%;
    background-color: var(--main);
}

.header-2 .header-img{
    height: 8rem;
}

.hero-section .header-2 .burger-menu-button {
    position: absolute;
    top: 3%;
    right: 0;

    width: 2rem;
    height: 2rem;
    background-color: var(--main);
    border: none;
    margin: 2rem;
}

.hero-section .header-2 .burger-menu-button img{
    position: relative;
    right: 10px;
    width: 100%;
    height: 100%;
}

.hero-section .header-2 .burger-menu-popout {
    display: none;
    position: fixed;
    right: 0;
    top: 0;

    width: 100%;
    height: 100%;
    padding: 1rem;
    background-color: rgb(0,0,0,0.75);
    backdrop-filter: blur(0.5rem);

    z-index: 99;
}

.hero-section .header-2 .burger-menu-popout .close-menu-button {
    position: absolute;
    top: 0;
    left: 0;

    width: 3rem;
    height: 3rem;
    background-color: transparent;
    border: none;
    margin: 2rem;
}

.hero-section .header-2 .burger-menu-popout .close-menu-button img {
    width: 100%;
    height: 100%;
}

.hero-section .header-2 .burger-menu-popout .navigation-links {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    position: fixed;
    right: 0;
    top: 0;

    width: 12rem;
    height: 100%;
    padding: 1rem 3rem;
    background-color: var(--main);

    z-index: 999;
}

.hero-section .header-2 .burger-menu-popout .navigation-links .services-dropdown-menu .dropdown-menu {
    display: none;
    flex-direction: column;
    gap: 1rem;
    padding-left: 1rem;
    margin-top: 1rem;
}

.hero-section .header-2 .burger-menu-popout .navigation-links .services-dropdown-menu .dropdown-menu li a {
    font-size: 0.9rem;
}

.hero-section .header-2 .burger-menu-popout .navigation-links .services-dropdown-menu .dropdown-menu a {
    padding: 2rem 1rem;
}

.hero-section .header-2 .burger-menu-popout .navigation-links .services-dropdown-menu:hover .dropdown-menu {
    display: flex;
}


.service-area {
    background-color: #fff;
    padding: 2rem;
    margin-top: 4rem;
    border-radius: 5px;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
}

.service-area h2 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.service-area p {
    color: #555;
    margin-bottom: 15px;
    text-align: center;
}

.service-area ul {
    list-style-type: none;
    padding: 0;
}

.service-area ul li {
    background-color: var(--white);
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
}

.service-area ul li strong {
    color: var(--main);
}

/* SERVICE SECTION  */
.services-section {
    position: static;
    display: flex;
    flex-direction: column;
    padding: 0;
    z-index: 0;
    overflow: hidden;
}

.service-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5rem;
    padding-block: 4rem;
}

#service-1 {
    background-color: var(--main);
    color: var(--white);
    width: 100%;
    min-height: 250px;
}

#service-1 .pageBreak {
    position: relative;
    background: linear-gradient(180deg, var(--main) 50%, var(--white) 50%);
    margin-top: -18rem;
    z-index: 0;
}

#service-2 {
    background-color: var(--white);
    color: var(--main);
    width: 100%;
    min-height: 250px;
    padding-top: 5rem;
}

#service-2 .pageBreak {
    position: static;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, var(--main) 50%);
    margin-bottom: -18rem;
    z-index: 0;
}

#service-3 {
    background-color: var(--main);
    color: var(--white);
    width: 100%;
    min-height: 250px;
}

#service-3 .pageBreak {
    position: relative;
    background: linear-gradient(180deg, var(--main) 50%, var(--white) 50%);
    margin-top: -18rem;
    z-index: 0;
}

#service-4 {
    background-color: var(--white);
    color: var(--main);
    width: 100%;
    min-height: 250px;
    padding-top: 5rem;
}

#service-4 .pageBreak {
    position: static;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, var(--main) 50%);
    margin-bottom: -18rem;
    z-index: 0;
}

#service-5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--white);

    color: var(--main);
    min-height: 250px;
    padding-inline: 10%;
    padding-top: 10rem;
}

#service-5 .pageBreakYellow {
    position: relative;
    top: 0;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, var(--main) 50%);
    z-index: 0;
    margin-top: -23rem;
}

#service-5 .pageBreakYellow img{
    height: 30rem;
}

#service-5 p {
    padding-block: 2rem;
}

.why-grid {
    padding-block: 2rem;
}

.why-item {
    padding-block: 0.8rem;
}

.service-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    
    margin: 2rem;
}

.service-grid img {
    object-fit: cover;
    object-position: 100% 80%;

    border-radius: 1rem;
    max-width: 650px;
    width: 100%;
    max-height: 445px;

    z-index: 999;
}

.text-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
    padding-inline: 10%;

    z-index: 999;
}

.cta-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    color: var(--white);
    padding: 1rem 2rem;

    text-shadow: none;
    text-align: center;
    font-size: 1.25rem;

    transition: all 0.25s;
}

.cta-button:hover {
    color: var(--main);
    text-shadow: none;
    
    background-color: var(--white);
    
    transform: scale(1.1);
    transition: all 0.25s;
}

.cta-button-alt {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    background-color: var(--emergency);
    padding: 1rem 2rem;
    
    color: var(--main);
    text-shadow: none;
    text-align: center;
    font-size: 1.25rem;

    transition: all 0.25s;
}

.cta-button-alt:hover {
    color: var(--white);
    text-shadow: none;
    
    background-color: var(--main);
    
    transform: scale(1.1);
    transition: all 0.25s;
}

.cta-button-alt2 {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    background-color: var(--white);
    padding: 1rem 2rem;
    
    color: var(--main);
    text-shadow: none;
    text-align: center;
    font-size: 1.25rem;

    transition: all 0.25s;
}

.cta-button-alt2:hover {
    color: var(--white);
    text-shadow: none;
    
    background-color: var(--main);
    
    transform: scale(1.1);
    transition: all 0.25s;
}

.cta-button-alt3 {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    background-color: var(--white);
    padding: 1rem 2rem;
    
    color: var(--main);
    text-shadow: none;
    text-align: center;
    font-size: 1.25rem;

    transition: all 0.25s;
}

.cta-button-alt3:hover {
    color: var(--main);
    text-shadow: none;
    
    background-color: var(--emergency);
    
    transform: scale(1.1);
    transition: all 0.25s;
}

/* CONTACT US SECTION */
.contact-us-section {
    background-color: var(--main);
    padding-top: 2rem;
}

.contact-us-section h3 {
    padding-block: 3rem;
}

.contact-us-section .text-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
    padding-top: 2rem;
    padding-inline: 10%;
    height: 100%;
}

.contact-us-section .text-box img {   
    height: 100%;
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.contact-us-section .text-box p {
    text-align: center;
    padding-bottom: 2rem;
}

.contact-form-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    background-color: var(--white);
    border: 2rem solid var(--white);
    border-radius: 5px;
}

.contact-us-section .contact-form-section h4{
    padding-bottom: 1rem;
    color: var(--main);
}

.contact-us-section .contact-form-section h5{
    font-size: 1.25rem;
    font-weight: 500;
    text-align: center;
    color: var(--main);
}

.input-name-container {
    display: flex;
    gap: 1rem;
}

.contact-form {
    padding-top: 2rem;
}

.contact-form label {
    color: var(--main);
}

.contact-form input, .contact-form select {
    width: 100%;
    padding: 10px;
    background-color: var(--main-light);
    border-radius: 5px;
    border: none;
    box-sizing: border-box;

    font-size: 1rem;
}

.contact-form textarea {
    width: 100%;
    height: 4rem;
    background-color: var(--main-light);
    border-radius: 5px;
    border: none;
    box-sizing: border-box;

    font-size: 1rem;
}

.contact-form input:focus, .contact-form textarea:focus, .contact-form select:focus {
    border: 1px solid var(--main); 
    outline: none;
}

.contact-form .cta-btn {
    color: var(--white);
    font-size: 1.5rem;

    background-color: var(--main);
    width: 100%;
    margin-top: 1rem;
    padding: 1rem 3rem;
    border-radius: 0.5rem;
    
    animation: color-change 2.5s infinite;
}

.contact-form .cta-btn:hover {
    animation: none;
    border: 1px solid var(--main);
    transform: scale(1.05);
    transition: all 0.25s;
}

.input-container {
    padding-bottom: 1rem;
    width: 100%;
}

/* FOOTER SECTION */

.footer {
    padding-block: 2rem;
    background-color: var(--main);
    overflow: hidden;
}

.footer-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 3rem;
}


.footer-contact .footer-header, .footer-hours .footer-header, .footer-hiring .footer-header {
    font-size: 2rem;
    text-align: center;
}

.footer-copyright {
    text-align: center;
}

.footer hr {
    margin-bottom: 3rem;
}

.footer .icon {
    width: 1rem;
    filter: brightness(0) invert(1);
}

.footer li {
    display: flex;
    gap:  1rem;
    padding-block: 0.5rem;
    justify-content: center;
    text-align: center;
}

.footer a {
    color: var(--emergency);
    text-decoration: underline;
}

.footer-map {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer .footer-tail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* Scrollbar*/
::-webkit-scrollbar {
    width: 10px; /* Width of the vertical scrollbar */
}

::-webkit-scrollbar-track {
    background: var(--main); /* Light grey background */
    border-radius: 10px; /* Rounded corners */
}

::-webkit-scrollbar-thumb {
    background: var(--white); /* Dark grey color */
    border-radius: 10px; /* Rounded corners */
}


/* Mobile Scaling  */
@media screen and (max-width: 720px){
    h2 {
        font-size: 3rem;
    }

    h3 {
        font-size: 1.75rem;
    }

    .hero-section .header{
        display: none;
    }

    .hero-section .header-2{
        display: flex;
    }

    .hero-service-buttons {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 1rem;
    }

    .tree-care-hero .hero-service-buttons {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 1rem;
    }
    
    .service-grid {
        grid-template-columns: repeat(1, 1fr);
        column-gap: 0;
        width: 100%;
    }

    .service-grid .service-img {
        display: none;
    }

    .image-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 1rem;
        padding-block: 2rem;
    }

    .contact-us-section .text-box img {
        display: none;
    }

    .contact-form-section {
        margin-top: 2rem;
    }

    .input-name-container {
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    .footer-content {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 1rem;
    }

    .footer .footer-tail {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    #service-5 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: var(--white);
    
        color: var(--main);
        min-height: 250px;
        padding-inline: 10%;
        padding-top: 10rem;
    }
    
    #service-5 .pageBreakYellow {
        position: relative;
        top: 0;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, var(--main) 50%);
        z-index: 0;
        margin-top: -32rem;
    }
    
    #service-5 .pageBreakYellow img{
        height: 40rem;
    }
}

@media screen and (min-width: 601px) and (max-width: 1300px){

    .hero-section {
        min-height: 100vh;
    }
    
    .hero-section .header {
        display: none;
    }

    .hero-section .header-2 {
        display: flex;
    }

    .hero-service-buttons {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 1rem;
    }

    .tree-care-hero .hero-service-buttons {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 1rem;
    }

    .service-grid {
        grid-template-columns: repeat(1, 1fr);
        column-gap: 0;
        width: 100%;
    }

    .service-grid .service-img {
        display: none;
    }

    .contact-us-section .text-box img {
        display: none;
    }

    .contact-form-section {
        margin-top: 2rem;
    }

    .footer-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
    }

    #service-5 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: var(--white);
    
        color: var(--main);
        min-height: 250px;
        padding-inline: 10%;
        padding-top: 10rem;
    }
    
    #service-5 .pageBreakYellow {
        position: relative;
        top: 0;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, var(--main) 50%);
        z-index: 0;
        margin-top: -25rem;
    }
    
    #service-5 .pageBreakYellow img{
        height: 30rem;
    }
}

@keyframes color-change {
    0% {
        color: var(--white);
        background-color: var(--main);
        border: 1px solid var(--main);
    }
    25%, 75% {
        color: var(--main);
        background-color: var(--emergency);
        border: 1px solid var(--emergency);
    }
    100% {
        color: var(--white);
        background-color: var(--main);
        border: 1px solid var(--main);
    }
}